In [1]:
print("hello world")

hello world

In [2]:
a=5
print(a)
print(type(a))

5
<class 'int'>

In [3]:
f=1.5
print(f)
print(type(f))

1.5
<class 'float'>

In [4]:
s="hello"
print(s)
print(type(s))

hello
<class 'str'>

In [5]:
b=True
print(b)
print(type(b))

True
<class 'bool'>

In [6]:
t=5+3j
print(t)
print(type(t))

(5+3j)
<class 'complex'>

In [7]:
a=7
b=3
sum=a+b
print(sum)

10

In [8]:
diff=a-b
print(diff)

4

In [9]:
mul=a*b
print(mul)

quo=a/b
print(quo)

21
2.3333333333333335

In [10]:
iquo=a//b
print(iquo)

2

In [11]:
pow=a**b
print(pow)

343

In [14]:
t=True
f=False
print(t,f)

True False

In [20]:
p=5>3
print(p)

True

In [16]:
q =-1<-12.5
print(q)

False

In [21]:
print(p and q)
print(p or q)

False
True

In [22]:
print(not q)

True

In [23]:
s="hello"
u="hello"
print(s)
print(u)

hello
hello

In [24]:
s1="python"
s="world"

In [33]:
s3=s1+' '+ s
print(s3)

python world

In [34]:
s3='%s %s %d'%(s1,s,1011)

In [35]:
print(s3)

python world 1011

In [36]:
print(len(s3))

17

In [38]:
print(s3.upper())

PYTHON WORLD 1011

In [39]:
print(s3.capitalize())

Python world 1011

In [41]:
print(s3.lower())

python world 1011

In [42]:
print('hello world how are you'.split(' '))

['hello', 'world', 'how', 'are', 'you']

In [43]:
print('book'.replace('o','e'))

beek

In [44]:
word='jewellery'
print(word.find('well'))
print(word.find('is'))

2
-1

In [1]:
number=int(input('Enter a number: '))
if number>99 and number<1000:
    print("it is a 3 digit")
else:
    print("Not a 3 digit")

Enter a number: 56
Not a 3 digit

In [54]:
response = input('Are you familiar with python: ')
if response.upper()=="YES":
    print("You can skip this course :-|")
elif response.upper()=="NO":
    print("You are at the right place :-)") 
else:
    print('Sorry wrong input :-(')

Are you familiar with python: NO
You are at the right place :-)

In [3]:
for x in range(10):
 print(x,end=' ')

0 1 2 3 4 5 6 7 8 9

In [4]:
limit = int(input('Enter a limit: '))
sum = 0
for i in range(1,limit+1):
    if i%2 !=0:
        sum +=i
print("Odd sum = "+str(sum))

Enter a limit : 10
Odd sum = 25

In [5]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

In [8]:
number = int(input('Enter number : '))
s = 0
while number > 0 :
    s += number%10
    number = number//10
print(s)

Enter number : 45
9

In [1]:
limit = int(input('Enter number : '))
for num in range(2,limit+1):
    is_divisible = False
    k=2
    while k <= num//2 :
        if num % k == 0:
            is_divisible=True
            break;
        k += 1
    if not is_divisible:
        print(num,end=' ')

Enter number : 24
2 3 5 7 11 13 17 19 23

In [2]:
mylist = ['a','b',1,2,1.2,True]
print(mylist)

['a', 'b', 1, 2, 1.2, True]

In [3]:
mylist.append('new')
print(mylist)

['a', 'b', 1, 2, 1.2, True, 'new']

In [4]:
print(mylist.pop())

new

In [8]:
mylist.insert(2,'new')
print(mylist)

['a', 'b', 'new', 1, 2, 1.2, True]

In [9]:
mylist.remove('new')
print(mylist)

['a', 'b', 1, 2, 1.2, True]

In [10]:
b=[1,2,3]
mylist.append(b)
print(mylist)

['a', 'b', 1, 2, 1.2, True, [1, 2, 3]]

In [11]:
mylist.remove(b)
print(mylist)

['a', 'b', 1, 2, 1.2, True]

In [12]:
mylist.extend(b)
print(mylist)

['a', 'b', 1, 2, 1.2, True, 1, 2, 3]

In [15]:
a=[2,3,1,4,5]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [16]:
print(list("hello"))

['h', 'e', 'l', 'l', 'o']

In [20]:
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[1],numbers[-1])

2 10

In [22]:
sliced=numbers[5:11]
print(sliced)

[6, 7, 8, 9, 10]

In [23]:
sliced=numbers[5:]
print(sliced)

[6, 7, 8, 9, 10]

In [24]:
sliced=numbers[:7]
print(sliced)

[1, 2, 3, 4, 5, 6, 7]

In [21]:
sliced=numbers[-2:]
print(sliced)

[9, 10]

In [25]:
numbers=list(range(1,8))
print(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [29]:
square=[]
for i in numbers:
    square.append(pow(i,2))
print(square)

[1, 4, 9, 16, 25, 36, 49]

In [30]:
square=[x**2 for x in numbers]
print(square)

[1, 4, 9, 16, 25, 36, 49]

In [31]:
odd_square=[x**2 for x in numbers if x%2 !=0]
print(odd_square)

[1, 9, 25, 49]

In [32]:
A=[4,6,8,9]
AxA=[(a,b)for a in A for b in A if A!=b]
print(AxA)

[(4, 4), (4, 6), (4, 8), (4, 9), (6, 4), (6, 6), (6, 8), (6, 9), (8, 4), (8, 6), (8, 8), (8, 9), (9, 4), (9, 6), (9, 8), (9, 9)]

In [33]:
person={'name':'Manu','age':28}
print(person['name'])

Manu

In [34]:
print('name' in person)

True

In [35]:
person['sex']='male'
print(person)

{'name': 'Manu', 'age': 28, 'sex': 'male'}

In [36]:
for item in person:
        print(item,person[item])

name Manu
age 28
sex male

In [37]:
for(key,value) in person.items():
        print(key.capitalize(),'\t:\t',value)

Name 	:	 Manu
Age 	:	 28
Sex 	:	 male

In [38]:
t1 = (1,2,3)
t2 = 4,5,6
print(t1,t2)

(1, 2, 3) (4, 5, 6)

In [39]:
t3 = t1 +t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [44]:
lt=tuple(['a','b','c','d'])
print(lt)

('a', 'b', 'c', 'd')

In [45]:
lt[2]='x'

TypeError: 'tuple' object does not support item assignment

In [46]:
s=(3)
print(type(s))

<class 'int'>

In [47]:
s=(3,)
print(type(s))

<class 'tuple'>

In [48]:
s={1,2,3}
print(s,type(s))

{1, 2, 3} <class 'set'>

In [49]:
fset={"apple","banana","cherry"}
fset.remove("banana")
print(fset)

{'cherry', 'apple'}

In [50]:
fset={"apple","banana","cherry"}
fset.discard("banana")
print(fset)

{'cherry', 'apple'}

In [52]:
fset={"apple","banana","cherry"}
fset.clear()
print(fset)

set()

In [53]:
set1={"a","b","c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{'b', 1, 2, 'c', 3, 'a'}

In [55]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z=x.intersection(y)
print(z)

{'apple'}

In [56]:
lst=[1,2,3,4,5,5,5,7,6]
myset=list(set(lst))
print(myset)

[1, 2, 3, 4, 5, 6, 7]

In [57]:
def twice(number):
    return 2*number
t = twice(5)
print(t)

10

In [59]:
def isPrime(number):
    for factor in range(2, (number//2)+1):
        if number%factor == 0:
            return False
    return True

number=int(input('Enter the number '))
print(isPrime(number))

Enter the number 15
False

In [60]:
def printPrimes(llimit, ulimit):
    for num in range(llimit, ulimit + 1):
        if isPrime(num) == True:
            print(num, end = ' ')

printPrimes(5,50)

5 7 11 13 17 19 23 29 31 37 41 43 47

In [61]:
def swap(x,y):
    t = x
    x = y
    y = t
    return x,y

a=5
b=7
a,b=swap(a,b)
print(a,b)

7 5